<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>All campgrounds</h1>
    <div>
        <a href="/campgrounds/new">new campground</a>
    </div>
    <ul>
        <% for(let i of campgrounds){ %>
            <li>
                <a href="/campgrounds/<%= i._id %>">
                    <%= i.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>